# Ignore Git history
.git
.gitignore

# Ignore local build artifacts
main
*.exe
*.test

# Ignore documentation/misc
README.md

# Secrets and Configs
.env
*.env
secrets.yaml

# Go specific
vendor/
coverage.out
*.test
bin/

# IDEs and OS junk
.vscode/
.idea/
.DS_Store